<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.xx.example" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>MediaRenderer</name>
    <description>web调用native投屏插件</description>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module name="mediaRenderer" src="www/mediaRenderer.js">
        <clobbers target="mediaRenderer"/>
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MediaRenderer">
                <param name="ios-package" value="MediaRendererPlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/MediaRendererPlugin.h" />
        <source-file src="src/ios/MediaRendererPlugin.mm" />
        
    </platform>
    
</plugin>
